

#GUERIPEL {
    background-color: blanchedalmond;
    color: blue;
}

#GUERIPEL img {
    transition: transform 0.6s ease;
}

#GUERIPEL img:hover {
    transform: rotate(360deg);
}

/* Ajout du changement de couleur au survol */
#GUERIPEL:hover {
    background-color: lightblue; /* nouvelle couleur au survol */
    color: red; /* texte change de couleur */
}
#MAREY_VAIRELLES{
background-color : gold; 
}
#DANGUIN {
    border: none !important;
    padding: 10px;
    border-radius: 12px;

    background: linear-gradient(
        135deg,
        #e40303, /* rouge */
        #ff8c00, /* orange */
        #ffed00, /* jaune */
        #008026, /* vert */
        #004dff, /* bleu */
        #750787  /* violet */
    );
}

#DANGUIN img {
    border-radius: 10px;
}
#MEUNIER{
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px; 
}
#MEUNIER img {
  transition: transform 0.6s ease;
}

#MEUNIER:hover img {
  transform: rotate(360deg);
}
#DAVID {
  border-radius: 15px;
  background: linear-gradient(to bottom, black, #aaa);
  img{
    width: 300px;
    border-radius: 7px;
  }
}
